.no-drag {
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.modal {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}

.backgroundDark {
    opacity: 0.35;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

#toolbarContainer {
    margin-bottom: 6px;
}

#myIframe {
    margin-left: 50px;
    margin-right: 50px;
    height: 1000px;
    width: 70%;
    border: 1px solid #0094ff;
    border-radius: 3px;
}
